In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


La_Liga = pd.read_csv("Laliga.csv")

new_header = La_Liga.iloc[0] #grab the first row for the header
La_Liga = La_Liga[1:] #take the data less the header row
La_Liga.columns = new_header 

La_Liga.replace('-', 0, inplace=True)
La_Liga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939-40,2012-13,4
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948-49,2013-14,4
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011-12,2
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944-45,2015-16,2
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935-36,2016-17,4
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949-50,2008-09,4
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933-34,2000-01,3
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960-61,2012-13,3
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951-52,2015-16,2
21,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998-99,2013-14,2
22,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941-42,2016-17,6
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977-78,2015-16,8
24,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959-60,2014-15,5
25,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004-05,2015-16,6
26,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935-36,2010-11,5
27,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961-62,2009-10,5
28,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940-41,2007-08,11
29,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930-31,2016-17,6
30,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963-64,2015-16,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943-44,1987-88,4
33,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977-78,2005-06,12
34,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987-88,1996-97,7
35,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941-42,1990-91,4
36,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991-92,2004-05,7
37,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007-08,2014-15,8
38,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962-63,2014-15,5
39,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994-95,1997-98,10
40,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978-79,2008-09,8
41,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971-72,1979-80,12
42,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963-64,1969-70,7
43,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999-00,2008-09,17
44,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014-15,2014-15,10
45,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934-35,3
46,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990-91,1992-93,9
47,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947-48,2006-07,7
48,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996-97,1998-99,17
49,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995-96,1997-98,19
50,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945-46,1950-51,10
51,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953-54,1957-58,14
52,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931-32,6
53,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979-80,1980-81,10
54,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930-31,8
55,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950-51,1993-94,16
56,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016-17,2016-17,17
57,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
58,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
61,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [2]:
La_Liga["Pos"] = pd.to_numeric(La_Liga["Pos"])
La_Liga["Seasons"] = pd.to_numeric(La_Liga["Seasons"])
La_Liga["Points"] = pd.to_numeric(La_Liga["Points"])
La_Liga["GamesPlayed"] = pd.to_numeric(La_Liga["GamesPlayed"])
La_Liga["GamesWon"] = pd.to_numeric(La_Liga["GamesWon"])
La_Liga["GamesDrawn"] = pd.to_numeric(La_Liga["GamesDrawn"])
La_Liga["GamesLost"] = pd.to_numeric(La_Liga["GamesLost"])
La_Liga["GoalsFor"] = pd.to_numeric(La_Liga["GoalsFor"])
La_Liga["GoalsAgainst"] = pd.to_numeric(La_Liga["GoalsAgainst"])
La_Liga["Champion"] = pd.to_numeric(La_Liga["Champion"])
La_Liga["Runner-up"] = pd.to_numeric(La_Liga["Runner-up"])
La_Liga["Third"] = pd.to_numeric(La_Liga["Third"])
La_Liga["Fourth"] = pd.to_numeric(La_Liga["Fourth"])
La_Liga["Fifth"] = pd.to_numeric(La_Liga["Fifth"])
La_Liga["Sixth"] = pd.to_numeric(La_Liga["Sixth"])
La_Liga["T"] = pd.to_numeric(La_Liga["T"])
La_Liga["BestPosition"] = pd.to_numeric(La_Liga["BestPosition"])

In [4]:
La_Liga.dtypes

0
Pos               int64
Team             object
Seasons           int64
Points            int64
GamesPlayed       int64
GamesWon          int64
GamesDrawn        int64
GamesLost         int64
GoalsFor          int64
GoalsAgainst      int64
Champion          int64
Runner-up         int64
Third             int64
Fourth            int64
Fifth             int64
Sixth             int64
T                 int64
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [5]:
La_Liga.describe()

,Pos,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,BestPosition
count,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000,61.000000
mean,31.000000,24.000000,901.426230,796.819672,303.967213,188.934426,303.754098,1140.344262,1140.229508,1.426230,1.409836,1.409836,1.409836,1.409836,1.409836,8.475410,7.081967
std,17.752934,26.827225,1134.899121,876.282765,406.991030,201.799477,294.708594,1506.740211,1163.710766,5.472535,4.540107,3.247445,2.746980,2.505840,2.231420,18.100282,5.276663
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,16.000000,4.000000,96.000000,114.000000,34.000000,24.000000,62.000000,153.000000,221.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
50%,31.000000,12.000000,375.000000,423.000000,123.000000,95.000000,197.000000,430.000000,632.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000
75%,46.000000,38.000000,1351.000000,1318.000000,426.000000,330.000000,563.000000,1642.000000,1951.000000,0.000000,0.000000,1.000000,2.000000,2.000000,2.000000,6.000000,10.000000
max,61.000000,86.000000,4385.000000,2762.000000,1647.000000,633.000000,1070.000000,5947.000000,3889.000000,33.000000,25.000000,16.000000,12.000000,12.000000,10.000000,83.000000,20.000000

In [20]:
La_Liga['Debut'] = La_Liga['Debut'].str[:4].astype(int)

In [21]:
La_Liga[La_Liga['Debut'].between(1930, 1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning Percent
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987-88,1,929,44.557057
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934,2001-02,1,307,41.112957
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939,2012-13,2,-164,35.146022
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932,2015-16,1,-333,35.069444
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941,2014-15,1,-136,36.797386
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939,2012-13,4,-346,34.511190
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948,2013-14,4,-413,31.582538
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944,2015-16,2,-399,32.304527
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935,2016-17,4,-334,32.321700
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949,2008-09,4,-342,31.075697
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933,2000-01,3,-309,34.228188
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960,2012-13,3,-189,33.704453
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951,2015-16,2,-399,33.485401
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941,2016-17,6,-338,29.380054
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977,2015-16,8,-328,28.987730
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959,2014-15,5,-272,29.941003
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935,2010-11,5,-334,29.299363
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961,2009-10,5,-125,31.376518
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940,2007-08,11,-385,24.744027
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930,2016-17,6,-165,32.894737
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963,2015-16,6,-202,28.109453
31,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,1974,1998-99,7,-159,29.078014
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943,1987-88,4,-228,30.281690
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977,2005-06,12,-269,23.214286
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941,1990-91,4,-169,30.838323
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962,2014-15,5,-145,29.078014
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978,2008-09,8,-94,26.881720
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971,1979-80,12,-94,28.921569
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963,1969-70,7,-56,29.444444
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947,2006-07,7,-114,29.310345
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945,1950-51,10,-107,27.777778
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953,1957-58,14,-62,32.222222
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979,1980-81,10,-45,25.000000
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950,1993-94,16,-112,19.117647
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956,1956-57,16,-20,23.333333
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951,1951-52,16,-34,23.333333
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955,1955-56,15,-31,16.666667

In [3]:
La_Liga.sort_values(by=['Points'],ascending=[False],axis=0).head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [22]:
def Goal_diff_count():
    
    La_Liga['Goal_diff_count'] = La_Liga['GoalsFor'] - La_Liga['GoalsAgainst']
    La_Liga.head(10)
        
Goal_diff_count()

In [23]:
La_Liga.loc[La_Liga['Goal_diff_count'][::-1].idxmax()]

0
Pos                          1
Team               Real Madrid
Seasons                     86
Points                    4385
GamesPlayed               2762
GamesWon                  1647
GamesDrawn                 552
GamesLost                  563
GoalsFor                  5947
GoalsAgainst              3140
Champion                    33
Runner-up                   23
Third                        8
Fourth                       8
Fifth                        3
Sixth                        4
T                           79
Debut                     1929
Since/LastApp             1929
BestPosition                 1
Goal_diff_count           2807
Winning Percent        59.6307
Name: 1, dtype: object

In [24]:
La_Liga.loc[La_Liga['Goal_diff_count'][::-1].idxmin()]

0
Pos                              14
Team               Racing Santander
Seasons                          44
Points                         1416
GamesPlayed                    1428
GamesWon                        453
GamesDrawn                      336
GamesLost                       639
GoalsFor                       1843
GoalsAgainst                   2368
Champion                          0
Runner-up                         1
Third                             1
Fourth                            2
Fifth                             0
Sixth                             1
T                                 5
Debut                          1929
Since/LastApp               2011-12
BestPosition                      2
Goal_diff_count                -525
Winning Percent             31.7227
Name: 14, dtype: object

In [10]:
La_Liga['Winning Percent'] = (La_Liga['GamesWon'] / La_Liga['GamesPlayed']) * 100
La_Liga

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,307,41.112957
7,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,-280,36.100533
8,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,-2,37.532580
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,-164,35.146022
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,-333,35.069444
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,-136,36.797386
12,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,-346,34.511190
13,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,-413,31.582538
14,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,-525,31.722689
15,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,-399,32.304527
16,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,-334,32.321700
17,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,-342,31.075697
18,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,-309,34.228188
19,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,-189,33.704453
20,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,-399,33.485401
21,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,103,41.176471
22,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,-338,29.380054
23,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,-328,28.987730
24,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,-272,29.941003
25,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,-113,32.236842
26,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,-334,29.299363
27,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,-125,31.376518
28,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,-385,24.744027
29,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,-165,32.894737
30,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,-228,30.281690
33,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,-269,23.214286
34,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,-198,27.745665
35,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,-169,30.838323
36,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,-90,28.148148
37,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,-122,27.192982
38,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,-145,29.078014
39,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,-42,32.500000
40,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,-94,26.881720
41,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,-94,28.921569
42,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,-56,29.444444
43,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,-98,24.342105
44,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,-28,30.701754
45,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,-81,33.076923
46,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,-38,22.807018
47,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,-114,29.310345
48,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,-55,25.000000
49,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,-45,23.750000
50,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,-107,27.777778
51,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,-62,32.222222
52,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,-31,29.166667
53,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,-45,25.000000
54,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,-34,33.333333
55,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,-112,19.117647
56,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,-19,21.052632
57,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,-28,21.052632
58,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,-20,23.333333
59,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,-34,23.333333
60,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,-31,16.666667
61,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,0,NaN

In [11]:
La_Liga.nlargest(5, 'Winning Percent')

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

In [12]:
La_Liga.groupby('BestPosition')
La_Liga.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64